@charset "utf-8";

/* GS PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/
.header__logo{
    transform: translateY(10%);
    width: 80%;
}
/* 1-1.로고박스 */
.header__logo img{
    width: 100%;
}
/* 1-1-3. 탑메뉴 */
.top-menu ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content: flex-end;   
    padding: 0;
    /* 줄바꿈방지 */
    white-space: nowrap;
}
/* 첫번째 뺴고 li선택 */
.top-menu li+li{
    margin-left: 10px;
}
/* 탑메뉴 a */
.top-menu a{
    font-size: 1rem;
}
/* 1-1-2. GNB메뉴 */
.gnb {
    position: sticky;
    max-width: 1043px;
    outline: 3px dotted yellow;
}
.gnb>ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content:flex-start;
    margin-top: 5px;
    white-space: nowrap;
}
.gnb ul>li{
    position: relative;
    float: left;
}
.gnb>ul>li:hover::after{
    display: block;
    border-bottom: 4px solid darkblue;
}
/* GNB메뉴 상위메뉴a */
.gnb ul>li>a{
    display: block;
    font-size: min(2.7rem, 3vw);
    padding: min(30px, 1vw);
    /* 줄바꿈방지 */
    white-space: nowrap;
}
/* GNB 상위li 오버시 a */
.gnb ul>li:hover>a{
    color: #015acf;
}
.gnb ul>li:hover .sub-menu{
    opacity: 1;
    display: block;

}

.sub-menu{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px;
    /* 박스글로우 */
    box-shadow: inset 0 0 5px lightblue;
    /* 넘치는 요소 숨기기 */
    overflow: hidden;
    /* 트랜지션 */
    background-color: #0278fe77;
    border-radius: 20px;
    box-shadow: inset 0 0 5px lightblue;
    z-index: 1;
    transition: 0.2s ease-in-out;

    
}

.sub-menu ol{
    display: flex;
}

.sub-menu a {
    white-space: nowrap;
    display: block;
    padding: 0;
    line-height: 40px;
    font-size: min(2.2rem, 2.5vw);
    /* 반투명 */
    opacity: 0.5;
    /* 트랜지션 */
    transition: 0.15s ease-in-out;
    color: rgb(255, 255, 255)
    
}
/* 서브오버시 효과 */
.sub-menu a:hover {
    opacity: 1;
    transform: scale(1.2);
}
.sub-menu ol{
    /* 플렉스박스 */
    display: flex;
}
.sub-menu li{
    text-align: center;
}
.sub-menu li+li{
    display: block;
    margin-left: 15px;
}

/************* 2. 메인영역 : .group-part *************/
.event-list{
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    background-color: hsla(214, 100%, 78%, 0.541);
    color: #000;
}

/* 2-3. 우딜 이미지 */
.ud{
    padding-left: 16%;
}
.ud>img{
    width: 82%;
}
.product{
    width: 100%;
    height: 100%;
}
.product img{
    cursor: pointer;
}
.grid{
    display: grid;
    max-width: 1300px;
    grid-template-columns: repeat(6,3fr);
    grid-column-gap: min(1vw,10px);
    grid-row-gap: min(46.5vw,-30px);
}
.grid img{
    padding: 6px;
    width: 60%;
    cursor: pointer;
}
    /* 그리드 각 박스 공통 */
    .grid>div{
        position: relative;
        /* 부모자격 */
        display: table;
        aspect-ratio: 4/3;        
        text-align: center;
    }
    .grid>div>div{
        display: table-cell;
        vertical-align: middle;
    }
    /* 설명박스 */
    .grid>div aside{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #000;
        background-color: #fff;
        font-size: min(1.2vw,12px);
    }

    /**************** 제품 검색 창 ****************/
    .psearchBarWrap {
    position: relative;
    margin: 0;
    padding: 35.7% 0;
    }

    #psearchBar {
    position: absolute;
    display: flex;
    padding: 15px 0;
    width: 100%;
    border: none;
    outline: 3px solid skyblue;
    border-radius: 20px;
    font-size: 23px;
    margin-top: -6%;
    text-align: center;
    }

    .psearchIcon{
    position: absolute;
    cursor: pointer;
    width: 7%;
    height: 5%;
    left: 90%;
    top: 46%;
    }
    .psearchIcon img{
        width: 100%;
    }
    /*********************** 유튜브 ***********************/
    .tv.on{
        transform: scale(1.5);
    }

    .tv{
        position: relative;
        top: 3%;
        left: 0.6%;
        width: 75%;
        height: 68.5%;
        cursor: pointer;
    }
    .screen{
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 15px;
        overflow: hidden;
    }
    #mv{
        width: 100%;
        height: 100%;
        border: none;
    }
    .box-btn{
        /* display: none; */
        position: absolute;
        right: 0;
        width: 130px;
        height: 68px;
        transform: translateX(110%);
    }
    .box-btn button{
        width: 100%;
        height: 107%;
        border-radius: 8px;
        outline: 2px solid skyblue; 
        background-color: #fff;
        border: none;
        overflow: hidden;
        cursor: pointer;
    }
    .box-btn button img{
        width: 113%;
        height: 105%;
        transform: translate(-5%,-2%);
        border-radius: 8px;
    }
    .more{
        display: flex;
        transform: translate(0,270px);
        padding-left: 373px;
    }
    .more>h3{
        font-size: 15px;
        font-weight: normal;
        color: #555;
    }
    .more img{
        width: 20px;
        height: 20px;
    }
     /*********************** 인스타 ***********************/
    .ytit{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ytit>h3{
        font-size: 40px;
        padding-left: 10px;
    }
    .ytit img{
        width: 10%;
        height: 15%;
    }
    
    /**************** 점포 검색 창 ****************/
    .jsearchBarWrap {
        position: relative;
        margin: 0;
        padding: 22% 0;
    }
    
    #jsearchBar {
        position: absolute;
        display: flex;
        padding: 15px 0;
        width: 60%;
        border: none;
        outline: 3px solid skyblue;
        border-radius: 20px;
        font-size: 100%;
        margin-top: -6%;
        text-align: center;
    }
    
    .jsearchIcon{
        position: absolute;
        cursor: pointer;
        width: 3.5%;
        height: 3.5%;
        left: 55%;
        top: 43%;
    }
    .jsearchIcon img{
        width: 100%;
    }
    .jumpo{
        position: absolute;
        top: 15%;
        left: 60%;
        width: 40%;
        height: 0%;
    }
    .jumpo img{
        position: absolute;
        width: 100%;
    }
    /**************** 고객 상담센터 ****************/
    .sct{
        position: relative;
        padding: 22% 0;
    }
    .sct h2{
        position: absolute;
        font-weight: normal;
        text-align: center;
        width: 40%;
        top: calc(40% - 50px/2);
        left: 5%;
        font-size: 150%;
        white-space: nowrap;
    }
    .sct h3{
        position: absolute;
        font-weight: normal;
        text-align: center;
        width: 40%;
        top: calc(60% - 50px/2);
        left: 5%;
        font-size: 150%;
        color: darkblue;
        white-space: nowrap;
    }
    .sct h4{
        position: absolute;
        font-weight: normal;
        text-align: center;
        top: calc(50% - 50px/2);
        left: 60%;
        width: 40%;
        white-space: nowrap;
    }
    .sct .tellicon{
        position: absolute;
        top: calc(54% - 50px/2);
        left: 5%;
        width: 7%;
    }
    .tellicon img{
        width: 100%;
    }
/************* 3. 하단영역 *************/
/* #footer {
    background-color: lightpink;
} */
/* 3-2.회사주소 */
.link-site{
    font-size: 80%;
    white-space: nowrap;
}
.co-info address{
    font-size: 60%;
    font-style: normal;
}
/* 3-3.SNS박스 */
.sns-full{
    display: flex;
    align-items: center;
    top: 50%;
}
.sns-full h2{
    font-weight: lighter;
    font-size: 100%;
    margin-left: 22%;
    width: 22%;
    text-align: center;
    white-space: nowrap;
}
.sns-full .sns-arrow{
    width: 4%;
}
.sns-arrow img{
    width: 100%;
}
.sns-box{
    margin-left: auto;
}
.sns-box ol{
    display: flex;
    gap: 0 15px;
}
.sns-box a{
    font-size: 110%;
}
.sns-logo{
    width: 20%;
    transform: translateX(110%);
}
.sns-logo img{
    width: 100%;
}
.site-btn ol{
    display: flex;
    padding: 10px 0;
}
.site-btn li{
    transform: translateX(110%);
}
.site-btn ol>li>a{
    font-size: 100%;
    display: block;
    white-space: nowrap;
}
.site-btn ol>li:hover>a{
    color: skyblue;
}
.site-btn ol>li>a::after{
    content: "∧";
    display: inline-block;
    transform: scale(0.7, 0.5);
    margin-left: 3px;
}
/* 각 sns별 오버시 아이콘색(글자색)넣기 */
.fa-square-facebook:hover{
    color: cornflowerblue;
}
.fa-square-twitter:hover{
    color: lightskyblue;
}
.fa-square-instagram:hover{
    color: orange;
}
.fa-square-youtube:hover{
    color: orangered;
}
