@charset "utf-8";

/* GS PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/
.header .partbox {
    height: 90px;
}
/* 1-1.로고박스 */
.header__logo img{
    margin-top: 10px;
    width: 116px;
}
/* 1-1-3. 탑메뉴 */
.top-menu ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content: flex-end;   
    padding: 0;
    /* 줄바꿈방지 */
    white-space: nowrap;
}
/* 첫번째 뺴고 li선택 */
.top-menu li+li{
    margin-left: 10px;
}
/* 탑메뉴 a */
.top-menu a{
    font-size: 1rem;
}
/* 1-1-2. GNB메뉴 */
.gnb {
    position: sticky;
    max-width: 1043px;
    outline: 3px dotted yellow;
}
.gnb>ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 */
    justify-content:flex-start;
    margin-top: 5px;
    white-space: nowrap;
}
.gnb ul>li{
    position: relative;
    float: left;
}
.gnb>ul>li:hover::after{
    display: block;
    border-bottom: 4px solid darkblue;
}
/* GNB메뉴 상위메뉴a */
.gnb ul>li>a{
    display: block;
    font-size: min(2.7rem, 3vw);
    padding: min(30px, 1vw);
    /* 줄바꿈방지 */
    white-space: nowrap;
}
/* GNB 상위li 오버시 a */
.gnb ul>li:hover>a{
    color: #015acf;
}
.gnb ul>li:hover .sub-menu{
    opacity: 1;
    display: block;

}

.sub-menu{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px;
    /* 박스글로우 */
    box-shadow: inset 0 0 5px lightblue;
    /* 넘치는 요소 숨기기 */
    overflow: hidden;
    /* 트랜지션 */
    background-color: #0278fe77;
    border-radius: 20px;
    box-shadow: inset 0 0 5px lightblue;
    z-index: 1;
    transition: 0.2s ease-in-out;

    
}

.sub-menu ol{
    display: flex;
}

.sub-menu a {
    white-space: nowrap;
    display: block;
    padding: 0;
    line-height: 40px;
    font-size: min(2.2rem, 2.5vw);
    /* 반투명 */
    opacity: 0.5;
    /* 트랜지션 */
    transition: 0.15s ease-in-out;
    color: rgb(255, 255, 255)
    
}
/* 서브오버시 효과 */
.sub-menu a:hover {
    opacity: 1;
    transform: scale(1.2);
}
.sub-menu ol{
    /* 플렉스박스 */
    display: flex;
}
.sub-menu li{
    text-align: center;
}
.sub-menu li+li{
    display: block;
    margin-left: 15px;
}

/************* 2. 메인영역 : .group-part *************/
.event-list{
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    background-color: hsla(214, 100%, 78%, 0.541);
    color: #000;
}
.product{
    width: 100%;
    height: 100%;
}
.grid{
    display: grid;
    max-width: 1300px;
    grid-template-columns: repeat(6,3fr);
    grid-column-gap: min(1vw,10px);
    grid-row-gap: min(46.5vw,-30px);
}
.grid img{
    padding: 6px;
    width: 60%;
}
    /* 그리드 각 박스 공통 */
    .grid>div{
        position: relative;
        /* 부모자격 */
        display: table;
        aspect-ratio: 4/3;        
        text-align: center;
    }
    .grid>div>div{
        display: table-cell;
        vertical-align: middle;
    }
    /* 설명박스 */
    .grid>div aside{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #000;
        background-color: #fff;
        font-size: min(1.2vw,12px);
    }

    .jsearchBarWrap {
    position: relative;
    margin: 0;
    padding: 35.7% 0;
    }

    #jsearchBar {
    position: absolute;
    display: flex;
    padding: 15px 0;
    width: 100%;
    border: none;
    outline: 3px solid skyblue;
    border-radius: 20px;
    font-size: 20px;
    }

    .searchIcon{
    position: absolute;
    cursor: pointer;
    width: 8%;
    left: 90%;
    top: 53%;
    height: 0%;
    }
    .searchIcon img{
        width: 100%;
    }
    /* 유튜브 */
    .tv.on{
        transform: translateX(-50%) scale(5);
    }

    .tv{
        position: relative;
        top: 10%;
        width: 76%;
        height: 79.9%;
        left: 50%;
        transform: translate(-50%);
    }
    .screen{
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 15px;
        background-color: skyblue;
        overflow: hidden;
    }
    .box-btn{
        /* display: none; */
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100px;
        height: 50px;
    }
    .box-btn button{
        width: 100%;
        height: 100%;
    }
    #mv{
        width: 100%;
        height: 100%;
        border: none;
    }
    
/************* 3. 하단영역 *************/
#footer {
    background-color: lightpink;
}
.footer .partbox {
    height: 100px;
}