@charset "utf-8";
/* GS PJ : 메인페이지 CSS - main.css */

/* 리셋,공통,외부 CSS 합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);



/* 공사중표시 */
body * {
    outline: 2px dashed #ccc;
}
body > div > * {
    outline-color: red;
}

/* 개별영역 박스 -> 확장형 박스
        -> 개별영역 중앙속박스에 높이값을 주면
        파트박스가 늘어날 경우 높이값에 제한을 받게됨!
        확장형은 반드시 파트박스에 높이값을 설정한다! */

/* 공통 사항 */
.header,main,footer{
    font-size: 2rem;
}

/************* 3. 메인영역 : .group-part *************/
/* 본문영역 최소높이 셋팅! */
#main {
min-height: 800px;
}
/* 2-1. 로고 배너영역 */
.logo-banner img {
   width: 100%;
}
/* 2-2. 이벤트 배너영역 */
.event-banner img {
    width: 100%;
    height: 100%;
}
.ud img {
    width: 100%;
    height: 100%;
}
.main .group-part-01 .partbox {
    height: 100%;
}
.main .group-part-02 .partbox {
    height: 350px;
}
/* 2-3. 행사 배너영역 */
.main .group-part-03 .partbox {
    height: 300px;
}
/* 3-1. 상품 검색영역 */
.main .group-part-04 .partbox {
    height: 250px;
}
/* 3-2. 소셜영역 */
.main .group-part-05 .partbox {
    height: 350px;
}
/* 3-3. 고객센터영역 */
.main .group-part-06 .partbox {
    height: 350px;
}