/* TheBlack PJ 오디션 모듈 CSS - aud.css */

/* 리셋, 코아 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/********** 2-4.aud-area **********/
#aud-area{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.aud-video{
    position: absolute;
    left: 50%;
    top: 28vh;
    width: 845px;
    height: 475px;
    border: none;
}

.aud-video video {
    width: 100%;
    height: 100%;
    border: none;
}

/* 타이틀 및 이름 문구 설정 */
.aud-title{
    position: absolute;
    font-size: 80px;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    color:#fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
  }

.aud-audTitle{
    position: absolute;
    font-size: 90px;
    top:27vh;
    left: 15%;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
}

.aud-viewBtn{
    position: absolute;
    left: 15%;
    top: 77vh;
    width: 170px;
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
    background-color: #fff;
    color: #000000;
    opacity: 0.9;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

/* 오디션 서브페이지 CSS */
#aud-Sub-area{
    position: relative;
    width: 100%;
    height: 105vh;
    background-color: #000;
}

.aud-container{
    position: relative;
    top: 27vh;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}
.aud-Cont{
    position: absolute;
    font-size: 18px;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    white-space: nowrap;
    box-sizing: border-box;
    margin-left: 1vw;
    left: 50%;
}
.aud-poster{
    position: absolute;
    right: 50%;
    width: 100%;  
    margin-right: 1vw;  
}
.aud-poster img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
