/* TheBlack PJ 배너모듈 CSS - banner.css */

/* 리셋, 코아 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/********** 2-1.MV-area **********/
.ats-movie{
    position: relative;
    overflow: hidden;
}
.ats-movie-area{
    position: relative;
    left: 0;
    display: flex;
}
.ats-movie-area li{
    position: relative;
    /* 부모자격 */
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    /* 강제축소옵션 해제 */
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 40px;
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}
.lar{
    rotate: 90deg;
    left: 4vw;
}
.rar{
    rotate: 270deg;
    right: 4vw;
}
.lar img{
    width: 100%;
}
.rar img{
    width: 100%;
}
#mv{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.mtit{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* 블릿 */
.indic{
    position: absolute;
    left: 50%;
    bottom: 3vh;
    transform: translateX(-50%);
    display: flex;
}
.indic li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 2px #000;
}
.indic li.on{
    background-color: rgba(255, 255, 255, 0.9);
}