/* TheBlack PJ 공통모듈 CSS - common.css */

/* 리셋, 코아 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/************* 0. 전체화면 *************/
body{
    background-color: #000;
}
/************* 1. 상단영역 *************/
#top-area{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 9999;
}

.site-header{
    position: relative;
}
.gicon{
    padding-top: 3vh;
    position: absolute;
    left: 3vw;
    width: 35px;
    cursor: pointer;
}
.gicon img{
    width: 100%;
}
.TBham{
    padding-top: 3vh;
    position: absolute;
    right: 3vw;
    width: 35px;
    cursor: pointer;
}
.TBlogo{
    padding-top: 2vh;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    cursor: pointer;
    vertical-align: center;
};
.TBlogo img{
    width: 100%;
    height: 100%;
};
/********************** 상단영역 끝  ************************/

/*********************** 2. 메인영역 ***********************/

#main-area{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
/********** 2-1.MV-area **********/
.ats-movie{
    position: relative;
    overflow: hidden;
}
.ats-area{
    position: relative;
    left: 0;
    display: flex;
}
.ats-area li{
    position: relative;
    /* 부모자격 */
    width: 100%;
    flex-shrink: 0;
    /* 강제축소옵션 해제 */
}
.ats-area li::after {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.2;
    z-index: 99;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 40px;
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}
.lar{
    rotate: 90deg;
    left: 4vw;
}
.rar{
    rotate: 270deg;
    right: 4vw;
}
.lar img{
    width: 100%;
}
.rar img{
    width: 100%;
}
#mv{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mtit{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-family: 'twayair';
}
/* 블릿 */
.indic{
    position: absolute;
    left: 50%;
    bottom: 3vh;
    transform: translateX(-50%);
    display: flex;
}
.indic li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 2px #000;
}
.indic li.on{
    background-color: rgba(255, 255, 255, 0.9);
}

/********** 2-1.intro-area **********/
.intro-area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: orangered;
}
/********** 2-2.ats-area **********/
.ats-area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: coral;
}
/********** 2-3.album-area **********/
.album-area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: cornflowerblue;
}
/********** 2-4.aud-area **********/
.aud-area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: bisque;
}

/********************** 메인영역 끝  ************************/

/*********************** 3. 하단영역 ***********************/

.info address{
    text-align: center;
    font-style: inherit;
    white-space: nowrap;
    background-color: #333;
    color: #fff;
    font-size: 15px;
    
}