/* TheBlack PJ 공통모듈 CSS - common.css */

/* 리셋, 코아 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

main.cont{
    /* 최소높이 상단,하단제외 채우기
    - 하단 여백이 생기는 일이 없어짐! */
    min-height: calc(100% - 80px - 120px);
}

html,
body {
    height: 100%;
}

/************* 1. 상단영역 *************/
#top-area{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
}

/* 상단영역 속박스 */
.site-header{
    position: relative;
    /* 부모자격 */
}
.TBlogo{
    position: absolute;
    top: 3vh;
    transform: translateX(-50%);
    left: 50%;
    vertical-align: center;
    width: 350px;
    z-index: 9999;
}
.TBlogo img{
    width: 100%;
    height: 100%;
}

/******************** TBham 설정 ********************/

.TBham{
    position: absolute;
    top: 3vh;
    right: 3vw;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 999999;
}
.TBham span{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff;
    box-shadow: 0 0 4px #777;
    /* 트랜지션 */
    transition: all .2s ease-out;
}

/* 1번막대 */
.TBham span:nth-child(1){
    top: 0;
}

/* 2번막대 */
.TBham span:nth-child(2){
    top: 13px;
}

/* 3번막대 */
.TBham span:nth-child(3){
    top: 26px;
}

/* .ham에 class="on"을 주면 span막대 변경하기 */

/* 1번막대 : 중앙이동+시계방향45도회전 */
.TBham.on span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
    box-shadow: none;
}

/* 2번막대 : left위치 중앙이동+width는0 */
.TBham.on span:nth-child(2) {
    width: 0;
    left: 10vw;
}

/* 3번막대 : 중앙이동+반시계방향45도회전 */
.TBham.on span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
    box-shadow: none;
}

/* 햄버거 박스 */
.gbox{
    position: fixed;
    top: 0; 
    right: 0;
    width: 310px;
    height: 100vh;
    z-index: 9999;
    display: none;
    /* 처음에 안보임 */
}
.gbox::after{
    content: '';
    display: block;
    position: absolute;
    top: 0; 
    right: 0;
    width: 310px;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
}

/* 메뉴중앙박스 */
.glist{
    position: absolute;
    top: 10vh;
    right: -30px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 9999;
}
.glist a{
    color: #fff;
}
.glist .ats_word{
    color: #fff;
}
/* 메뉴별박스 */
.glist dl{
    width: 300px;
}
/* 상위메뉴 */
.glist dt{
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    
}
/* 하위메뉴 */
.glist dd{
    font-size: 2.1rem;
    padding-bottom: 15px;
    padding-left: 30px;
    
}

/****************** language 설정 ******************/

.langicon{
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 35px;
    cursor: pointer;
}
.langicon img{
    width: 100%;
}

/* 햄버거 박스 */
.langbox option{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lang_container{
    position: relative;
    display: none;
    width: 120px;
    height: 6vh;
    left:0.5vw;
    top: 1vh;
    background-color: #fff;
    box-shadow: 3px 3px 2px #272727;
    font-size: 17px;
}

.langbox{
    position: absolute;
    width: 100px;
    height: 6vh;
    left: 0;
    top: 0;
    background-color: #fff;
    border: none;
    text-align: center;
    
}

.lang_cbtn{
    position: absolute;
    width: 10px;
    height: 15px;
    right: 0.2vw;
    top: 0;
    cursor: pointer;
  }
  .lang_cbtn img{
    width: 100%;
    height: 100%;
  }


/********************** 상단영역 끝  ************************/

/*********************** 2. 메인영역 ***********************/

#main-area{
    position: relative;
}

/* 인디케이터 */
.indic {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* 세로중앙이동 */
    left: 3vw;
    width: 30px;
    /* outline: 3px dotted blue; */
    z-index: 100;
}

.indic li {
    width: 100%;
    height: 10px;
    margin: 10px 0;
    cursor: pointer;
    /* 손가락모양 */
}

/* a요소 */
.indic a {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 4px;
    background-color: #777;
    box-shadow: 1px 1px 1px #fff;
    transition: width .4s;
}
/* 마우스 오버시 */
.indic li:hover a {
    width: 150%;
    background-color: #000;
}

/* 클래스 "on" */
/* 모바일에서 hover시 해제한 설정보다 우선순위 높임! */
.indic li.on a {
    width: 150% !important;
    background-color: #000 !important;
}


/* 설명글자숨기기 */
.indic span {
    display: none;
}
/********************** 메인영역 끝  ************************/

/*********************** 3. 하단영역 ***********************/
#footer-area {
    position: relative;
    background-color: #333;
    height: 120px;
}
.footer-sns {
    position: absolute;
    display: flex;
    width: 125px;
    left: 50%;
    transform: translateX(-50%);
    gap: 0 30px;
    padding: 10px;
}
#footer-area address{
    position: absolute;
    text-align: center;
    font-style: inherit;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-family: UB;
    color: #fff;
    line-height: 1.5;
    padding: 5px;
    bottom: 0;
}

.footer-sns img{
    width: 100%;
}