/* TheBlack PJ 공통모듈 CSS - common.css */

/* 리셋, 코아 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/************* 0. 전체화면 *************/
body{
    background-color: #000;
}
/************* 1. 상단영역 *************/
#top-area{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 9999;
}

.site-header{
    position: relative;
}
.gicon{
    padding-top: 20px;
    position: absolute;
    padding-left: 2%;
    width: 35px;
    cursor: pointer;
}
.gicon img{
    width: 100%;
}
.TBham{
    padding-top: 20px;
    position: absolute;
    padding-left: 96.5%;
    width: 35px;
    cursor: pointer;
}
.TBlogo{
    padding-top: 20px;
    position: absolute;
    left: 40%;
    cursor: pointer;
    vertical-align: center;
};
.TBlogo img{
    width: 100%;
    height: 100%;
};
/********************** 상단영역 끝  ************************/

/*********************** 2. 메인영역 ***********************/

#main-area{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
/********** 2-1.MV-area **********/
.ats-movie{
    position: relative;
    overflow: hidden;
}
.ats-area li{
    position: relative;
    /* 부모자격 */
    width: 100%;
    flex-shrink: 0;
    /* 강제축소옵션 해제 */
}
.ats-area li::after {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.2;
    z-index: 99;
}
.h2{
    position: absolute;
    font-size: 50px;
}
.arrow{
    position: relative;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
.lar{
    position: absolute;
    padding-left: 3.5%;    
}
.rar{
    padding-left: 95%;
}
.ats-area{
    position: relative;
    left: 0;
    display: flex;
}

#mv{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-solid{
    color:#fff;
}
.Pbtn a{
    position: absolute;
    left: 45vw;
    bottom: 15%;
    width: 5px;
    height: 5px;
    font-size: 50px;
    font-weight: normal;
    color:#fff;
}
.tit{
    font-size: 25px;
}

/********** 2-1.intro-area **********/
.intro-area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: orangered;
}
/********** 2-2.ats-area **********/
.ats-area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: coral;
}
/********** 2-3.album-area **********/
.album-area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: cornflowerblue;
}
/********** 2-4.aud-area **********/
.aud-area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: bisque;
}

/********************** 메인영역 끝  ************************/

/*********************** 3. 하단영역 ***********************/

.info address{
    text-align: center;
    font-style: inherit;
    white-space: nowrap;
    background-color: #333;
    color: #fff;
    font-size: 15px;
    
}