/* TheBlack PJ 인트로 모듈 CSS - intro.css */

/* 리셋, 코아 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/********** 2-1.intro-area **********/
#intro-area{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.intTit{
  position: absolute;
  font-size: 80px;
  top: 17vh;
  left: 50%;
  transform: translateX(-50%);
  color:#fff;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
.intCont{
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 20px;
  color:#fff;
  font-family: NG;
  line-height: 1.7;
  white-space: nowrap;
}


/* 인트로 서브페이지 CSS */
#introSub-area{
  position: relative;
  width: 100%;
  height: 205vh;
  background-color: #000;
}

.intSub-Tit{
  position: absolute;
  font-size: 90px;
  top: 11vh;
  left: 50%;
  transform: translateX(-50%);
  color:#fff;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  white-space: nowrap;
}

.intSub-cont strong{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.intSub-cont{
  position: absolute;
  top: 26vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 15px;
  color:#fff;
  font-family: NG;
  line-height: 1.6;
  white-space: nowrap;
  
}

.intSub-foundCont strong{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.intSub-foundCont{
  position: absolute;
  top: 68vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 15px;
  color:#fff;
  font-family: NG;
  line-height: 1.6;
  white-space: nowrap;
}

.gubun{
  width: 53vw;
  opacity: 0.5;
}

.services-cont-title{
  position: relative;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color:#fff;
  line-height: 1.6;
  white-space: nowrap;
  top: 118vh;
}

.intSub-services-cont{
  position: absolute;
  top: 125vh;
  width: 800px;
  height: 200px;
  transform: translateX(-50%);
  left: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intSub-services1{
  position: absolute;
  display: flex;
  color: #fff;
  gap: 0 50px;
  text-align: center;
}

.intSub-services1 h3{
font-size: 22px;
white-space: nowrap;
}

.intSub-services1 h4{
font-size: 15px;
font-weight: normal;
white-space: nowrap;
}

.intSub-services2{
  padding-left: 30px;
  top: 14vh;
  position: absolute;
  display: flex;
  color: #fff;
  gap: 0 95px;
  text-align: center;
}

.intSub-services2 h3{
  font-size: 22px;
  white-space: nowrap;
  }

.intSub-services2 h4{
  font-size: 15px;
  font-weight: normal;
  white-space: nowrap;
  }

.sgubun{
  position: relative;
  top: 145vh;
  width: 53vw;
  opacity: 0.5;
}

.intSub-creat strong{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.intSub-creat{
  position: absolute;
  top: 155vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 15px;
  color:#fff;
  font-family: NG;
  line-height: 1.6;
  white-space: nowrap;
}