/* THE BLACK PJ - 공통 미디어쿼리 */

@media screen and (max-width: 1540px) {
    #aud-area .aud-video{
        position: relative;
        top: 28vh;
        border: none;
    }
    
    #aud-area .aud-video video {
        position: absolute;
        width: 70%;
        left: 30%;
        transform: translateX(-50%);
    }
    .aud-title{
        position: relative;
        font-size: 80px;
        top: 12vh;
        left: 50%;
        transform: translateX(-50%);
        color:#fff;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        z-index: 999;
      }
    
    .aud-audTitle h3{
        position: relative;
        font-size: 50px;
        top:12vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.2;
        z-index: 999;
    }
    
    #aud-area .aud-viewBtn{
        position: absolute;
        left: 15%;
        top: 68vh;
        width: 167px;
        text-align: center;
        font-size: 30px;
        white-space: nowrap;
        background-color: #fff;
        color: #000000;
        opacity: 0.9;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: none;
    }
    
    
  }

@media screen and (max-width: 1380px) {
  #ats-area .ats_swiper{
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-50%);
    width: 263px;
    height: 401px;
   }
  
   #ats-area .swiper-slide {
     display: flex;
     border-radius: 15px;
     overflow: visible !important;
     transition: width .6s;
     perspective: 1000px;
    }

    #ats-area .intro-bx{
      position: relative;
      width: 263px;
      height: 401px;
    }
    #ats-area .intro-bx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 13px;
    }
    #ats-area .desc-bx{
      position: absolute;
      left: 200px;
      width: calc(200px*2);
      height: 581px;
      background-color: #fff;
      border-radius: 20px;
    }

  .swiper-slide .cont-bx{
    position: absolute;
    left: 0;
    display: flex;
    width: 200px;
    overflow: hidden;
    transition: ease-in-out .6s;
  }
  
  .swiper-slide .cont-bx.on {
    position: absolute;
    width: calc(200px*3) !important;
    left : -25%;
  }

    #video-cont{
      position: absolute;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      max-width: 1500px;
      left: 50%;
      transform: translateX(-50%);
    }
    
    #alb-Sub-area #video-cont>div{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 27vh;
      aspect-ratio: 513/288;
      padding: 30px;
      padding-bottom: 50px;
      width: 300px;
    }
    
    #alb-Sub-area #video-cont>div aside{
      color: #fff;
      font-size: 13px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      margin-top: 10px;
    }
    
    #alb-Sub-area .video-grid-first{
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

@media screen and (max-width: 1000px) {
  #aud-area .aud-video{
    position: relative;
    top: 20vh;
    border: none;
  }

#aud-area .aud-video video {
    position: absolute;
    width: 40%;
    left: 20%;
    transform: translateX(-50%);
}
.aud-audTitle h3{
  position: relative;
  font-size: 40px;
  top:10vh;
  color:#fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  z-index: 999;
}
    #album-area .swiper-coverflow {
        position: relative;
        top: 10vh;
        left: 50%;
        width: 400px;
      }
      #album-area .swiper-coverflow img{
        width: 100%;
        height: 100%;
      }
      .alb-title {
        position: absolute;
        left: 5vw;
        top: 10vh;
      }

      .alb-title h3{
        position: relative;
        font-size: 70px;
        top: 12vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
      }
      .intSub-Tit h3{
        position: relative;
        font-size: 50px;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        color:#fff;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        white-space: nowrap;
      }
      
      .intSub-cont strong{
        position: relative;
        left: 0;
        top: 0;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      #introSub-area .intSub-cont{
        position: relative;
        top: 26vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 12px;
        color:#fff;
        font-family: NG;
        line-height: 1.6;
        white-space: nowrap;
        
      }
      
      #introSub-area .intSub-foundCont strong{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      #introSub-area .intSub-foundCont{
        position: relative;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 12px;
        color:#fff;
        font-family: NG;
        line-height: 1.6;
        white-space: nowrap;
      }
      
      .gubun{
        width: 53vw;
        opacity: 0.5;
      }
      
      #introSub-area .services-cont-title{
        position: absolute;
        font-size: 5x;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color:#fff;
        line-height: 1.6;
        white-space: nowrap;
        top: 90vh;
      }
      #introSub-area .intSub-services{
        width: 650px;
      }

      #introSub-area .intSub-services img{
        width: 100%;
      }
      #aud-Sub-area{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #000;
    }
    
    .aud-container{
        position: relative;
        top: 27vh;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
    }
    #aud-Sub-area .aud-Cont{
        position: absolute;
        font-size: 18px;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        white-space: nowrap;
        box-sizing: border-box;
        margin-left: 1vw;
        left: 50%;
        transform: translateX(-50%);
        top: 70vh;
    }
    #aud-Sub-area .aud-poster{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;  
    }
    #aud-Sub-area .aud-poster img{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    .cont #aud-Sub-area{
      position: relative;
      width: 100%;
      height: 170vh;
      background-color: #000;
    }
    #aud-area .aud-viewBtn{
      position: absolute;
      left: 15%;
      top: 60vh;
      width: 167px;
      text-align: center;
      font-size: 30px;
      white-space: nowrap;
      background-color: #fff;
      color: #000000;
      opacity: 0.9;
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: none;
  }
  }

@media screen and (max-width: 700px) {
  #aud-area .aud-video{
    position: relative;
    top: 10vh;
    border: none;
    left: 25%;
  }

#aud-area .aud-video video {
    position: absolute;
    width: 50%;
}
    .intTit h3 {
      top: -5vh;
      font-size: 60px;
      position: relative;
    }

    #intro-Container .intCont{
      position: absolute;
      top: -5vh;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 20px;
      color: #fff;
      font-family: NG;
      line-height: 1.7;
      white-space: nowrap;
    }

    .intCont p{
      position: relative;
      top: -7vh;
      padding: 5px;
      font-size: 18px;
    }
    .atit h2{
        font-size: 20px;
    }
    #album-area .swiper-coverflow {
        position: relative;
        top: 10vh;
        left: 50%;
        width: 300px;
      }
      #album-area .swiper-coverflow img{
        width: 100%;
        height: 100%;
      }
      .alb-title {
        position: absolute;
        left: 5vw;
        top: 10vh;
      }

      .alb-title h3{
        position: relative;
        font-size: 50px;
        top: 17vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        left: 3vw;
      }
      .intSub-Tit h3{
        position: relative;
        font-size: 50px;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        color:#fff;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        white-space: nowrap;
      }
      
      .intSub-cont strong{
        position: relative;
        left: 0;
        top: 0;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      #introSub-area .intSub-cont{
        position: relative;
        top: 26vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 12px;
        color:#fff;
        font-family: NG;
        line-height: 1.6;
        white-space: nowrap;
        
      }
      
      #introSub-area .intSub-foundCont strong{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      #introSub-area .intSub-foundCont{
        position: relative;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 9px;
        color:#fff;
        font-family: NG;
        line-height: 1.6;
        white-space: nowrap;
      }
      
      .gubun{
        width: 53vw;
        opacity: 0.5;
      }
      
      #introSub-area .services-cont-title{
        position: absolute;
        font-size: 5x;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color:#fff;
        line-height: 1.6;
        white-space: nowrap;
        top: 90vh;
      }
      #introSub-area .intSub-services{
        width: 480px;
      }

      #introSub-area .intSub-services img{
        width: 100%;
      }
      #alb-Sub-area #video-cont{
      position: absolute;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      max-width: 1500px;
      left: 50%;
      transform: translateX(-50%);
    }
    
    #alb-Sub-area #video-cont>div{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 27vh;
      aspect-ratio: 513/288;
      padding: 30px;
      padding-bottom: 50px;
      width: 300px;
    }
    
    #alb-Sub-area #video-cont>div aside{
      color: #fff;
      font-size: 13px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      margin-top: 10px;
    }
    
    #alb-Sub-area .video-grid-first{
      grid-column: 1/2;
      grid-row: 1/2;
    }#video-cont{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        max-width: 1500px;
        left: 50%;
        transform: translateX(-50%);
      }
      
      #alb-Sub-area #video-cont>div{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 27vh;
        aspect-ratio: 513/288;
        padding: 15px;
        padding-bottom: 50px;
        width: 250px;
      }
      
      #alb-Sub-area #video-cont>div aside{
        color: #fff;
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 10px;
      }
      
      #alb-Sub-area .video-grid-first{
        grid-column: 1/2;
        grid-row: 1/2;
      }

      .aud-title h3{
        font-size: 50px;
      }
      
      #alb-Sub-area .aud-title{
        top: 15vh;
      }
      #aud-Sub-area .aud-Cont{
        position: absolute;
        font-size: 14px;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        white-space: nowrap;
        box-sizing: border-box;
        margin-left: 1vw;
        left: 50%;
        top: 70vh;
        transform: translateX(-50%);
    }
    .cont #aud-Sub-area{
      position: relative;
      width: 100%;
      height: 160vh;
      background-color: #000;
    }
    #aud-Sub-area .aud-poster{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;  
    }
    #aud-Sub-area .aud-poster img{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    .aud-audTitle h3{
      position: relative;
      font-size: 50px;
      top:35vh;
      color:#fff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.2;
      z-index: 999;
      left: 20%;
      text-align: center;
  }
  
  #aud-area .aud-viewBtn{
      position: absolute;
      top: 90vh;
      width: 177px;
      text-align: center;
      transform: translateX(-50%);
      left: 47%;
      white-space: nowrap;
      background-color: #fff;
      color: #000000;
      opacity: 0.9;
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: none;
  }
  }
@media screen and (max-width: 530px) {
  #aud-area .aud-video{
    position: relative;
    top: 10vh;
    border: none;
    left: 55%;
    transform: translateX(-25%);
  }

#aud-area .aud-video video {
    position: absolute;
    width: 40%;

}
    .mtit h2{
        font-size: 15px;
    }
    .TBham{
        position: absolute;
        top: 2.7vh;
        right: 5vw;
        width: 25px;
        cursor: pointer;
        z-index: 999999;
    }
    .TBham span:nth-child(2) {
        top: 10px;
    }
    .TBham span:nth-child(3) {
        top: 20px;
    }
    .TBlogo{
        width: 200px;
    }
    .langicon{
        top: 2.5vh;
        width: 30px;
    }

    .lang_container{
      position: relative;
      display: none;
      width: 90px;
      height: 6vh;
      left:0.5vw;
      top: 1vh;
      background-color: #fff;
      box-shadow: 3px 3px 2px #272727;
      font-size: 17px;
  }
  
  .langbox{
      position: absolute;
      width: 70px;
      height: 6vh;
      left: 0;
      top: 0;
      background-color: #fff;
      border: none;
      text-align: center;
  }
  
    .intTit h3 {
        position: relative;
        font-size: 50px;
        top: -5vh;
    }
    .intCont p{
        position: relative;
        top: -10vh;
        padding: 5px;
        font-size: 13px;

    }
    #ats-area .ats-title h3{
        font-size: 50px;
    }

    .ats_swiper .swiper-slide{
        width: 150px;
    }
    .atit h2{
        font-size: 15px;
    }
    .alb-title {
        position: absolute;
        left: 5vw;
        top: 10vh;
      }
      .alb-title h3{
        position: relative;
        font-size: 40px;
        top: 18vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        left: 3vw;
      }
      .intSub-Tit h3{
        position: relative;
        font-size: 30px;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        color:#fff;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        white-space: nowrap;
      }
      #introSub-area .insSub-cont {
        font-size: 5px;
        top: 0;
        left: 0;
      }
      .aud-audTitle h3{
        position: relative;
        font-size: 35px;
        top:35vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.2;
        z-index: 999;
        left: 20%;
        text-align: center;
    }
    
    #aud-area .aud-viewBtn{
        position: absolute;
        top: 83vh;
        text-align: center;
        left: 44%;
        white-space: nowrap;
        background-color: #fff;
        color: #000000;
        opacity: 0.9;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: none;
    }
      
  }

  @media screen and (max-width: 400px) {
    .indic {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 3vw;
      width: 20px;
      /* outline: 3px dotted blue; */
      z-index: 100;
  }
    .intTit h3 {
      position: relative;
      font-size: 30px;
      padding-bottom: 20px;
      top: -5vh;
  }
  .intCont p{
      position: relative;
      top: -14vh;
      padding: 7px;
      font-size: 11px;
  }
  .langicon{
    top: 2.5vh;
    width: 30px;
}

.lang_container{
  position: relative;
  display: none;
  width: 70px;
  height: 6vh;
  left:0.5vw;
  top: 1vh;
  background-color: #fff;
  box-shadow: 3px 3px 2px #272727;
  font-size: 17px;
}

.langbox{
  position: absolute;
  width: 55px;
  height: 6vh;
  left: 0;
  top: 0;
  background-color: #fff;
  border: none;
  text-align: center;
}
  }

  @media screen and (max-width: 350px) {
    .indic {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 3vw;
      width: 20px;
      /* outline: 3px dotted blue; */
      z-index: 100;
  }
    .intTit h3 {
      position: relative;
      font-size: 30px;
      padding-bottom: 20px;
      top: -5vh;
  }
  .intCont p{
      position: relative;
      top: -14vh;
      padding: 7px;
      font-size: 9.5px;

  }
  }

@media screen and (max-width: 310px) {
    .mtit h2{
        font-size: 12px;
    }
  }