/* THE BLACK PJ - 공통 미디어쿼리 */



@media screen and (max-width: 1540px) {
    .aud-video{
        position: relative;
        /* position: relative; */
        /* position: absolute; */
        left: 100%;
        top: 28vh;
        border: none;
    }
    
    .aud-video video {
        position: absolute;
        /* position: absolute; */

    }
    .aud-title{
        position: relative;
        font-size: 80px;
        top: 12vh;
        left: 50%;
        transform: translateX(-50%);
        color:#fff;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        z-index: 999;
      }
    
    .aud-audTitle h3{
        position: relative;
        font-size: 50px;
        top:13vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.2;
        z-index: 999;
    }
    
    .aud-viewBtn{
        position: absolute;
        left: 15%;
        top: 68vh;
        width: 167px;
        text-align: center;
        font-size: 30px;
        white-space: nowrap;
        background-color: #fff;
        color: #000000;
        opacity: 0.9;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: none;
    }
    
    
  }

@media screen and (max-width: 1380px) {
    .cont-bx.on{
        width: 200px;
    }
    #video-cont{
      position: absolute;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      max-width: 1500px;
      left: 50%;
      transform: translateX(-50%);
    }
    
    #alb-Sub-area #video-cont>div{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 27vh;
      aspect-ratio: 513/288;
      padding: 30px;
      padding-bottom: 50px;
      width: 300px;
    }
    
    #alb-Sub-area #video-cont>div aside{
      color: #fff;
      font-size: 13px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      margin-top: 10px;
    }
    
    #alb-Sub-area .video-grid-first{
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

@media screen and (max-width: 1000px) {
    #album-area .swiper-coverflow {
        position: relative;
        top: 10vh;
        left: 50%;
        width: 400px;
      }
      #album-area .swiper-coverflow img{
        width: 100%;
        height: 100%;
      }
      .alb-title {
        position: absolute;
        left: 5vw;
        top: 10vh;
      }

      .alb-title h3{
        position: relative;
        font-size: 70px;
        top: 12vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
      }
      .intSub-Tit h3{
        position: relative;
        font-size: 50px;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        color:#fff;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        white-space: nowrap;
      }
      
      .intSub-cont strong{
        position: relative;
        left: 0;
        top: 0;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      #introSub-area .intSub-cont{
        position: relative;
        top: 26vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 12px;
        color:#fff;
        font-family: NG;
        line-height: 1.6;
        white-space: nowrap;
        
      }
      
      #introSub-area .intSub-foundCont strong{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      #introSub-area .intSub-foundCont{
        position: relative;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 12px;
        color:#fff;
        font-family: NG;
        line-height: 1.6;
        white-space: nowrap;
      }
      
      .gubun{
        width: 53vw;
        opacity: 0.5;
      }
      
      #introSub-area .services-cont-title{
        position: absolute;
        font-size: 5x;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color:#fff;
        line-height: 1.6;
        white-space: nowrap;
        top: 90vh;
      }
      #introSub-area .intSub-services{
        width: 650px;
      }

      #introSub-area .intSub-services img{
        width: 100%;
      }
  }

@media screen and (max-width: 700px) {
    .intTit h3 {
        font-size: 50px;
        position: relative;
        top: 10vh;  
    }
    .intCont p{
        font-size: 15px;
    }
    .atit h2{
        font-size: 20px;
    }
    #album-area .swiper-coverflow {
        position: relative;
        top: 10vh;
        left: 50%;
        width: 300px;
      }
      #album-area .swiper-coverflow img{
        width: 100%;
        height: 100%;
      }
      .alb-title {
        position: absolute;
        left: 5vw;
        top: 10vh;
      }

      .alb-title h3{
        position: relative;
        font-size: 50px;
        top: 17vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        left: 3vw;
      }
      .intSub-Tit h3{
        position: relative;
        font-size: 50px;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        color:#fff;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        white-space: nowrap;
      }
      
      .intSub-cont strong{
        position: relative;
        left: 0;
        top: 0;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      #introSub-area .intSub-cont{
        position: relative;
        top: 26vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 12px;
        color:#fff;
        font-family: NG;
        line-height: 1.6;
        white-space: nowrap;
        
      }
      
      #introSub-area .intSub-foundCont strong{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      #introSub-area .intSub-foundCont{
        position: relative;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 9px;
        color:#fff;
        font-family: NG;
        line-height: 1.6;
        white-space: nowrap;
      }
      
      .gubun{
        width: 53vw;
        opacity: 0.5;
      }
      
      #introSub-area .services-cont-title{
        position: absolute;
        font-size: 5x;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color:#fff;
        line-height: 1.6;
        white-space: nowrap;
        top: 90vh;
      }
      #introSub-area .intSub-services{
        width: 480px;
      }

      #introSub-area .intSub-services img{
        width: 100%;
      }
      #alb-Sub-area #video-cont{
      position: absolute;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      max-width: 1500px;
      left: 50%;
      transform: translateX(-50%);
    }
    
    #alb-Sub-area #video-cont>div{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 27vh;
      aspect-ratio: 513/288;
      padding: 30px;
      padding-bottom: 50px;
      width: 300px;
    }
    
    #alb-Sub-area #video-cont>div aside{
      color: #fff;
      font-size: 13px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      margin-top: 10px;
    }
    
    #alb-Sub-area .video-grid-first{
      grid-column: 1/2;
      grid-row: 1/2;
    }#video-cont{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        max-width: 1500px;
        left: 50%;
        transform: translateX(-50%);
      }
      
      #alb-Sub-area #video-cont>div{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 27vh;
        aspect-ratio: 513/288;
        padding: 15px;
        padding-bottom: 50px;
        width: 250px;
      }
      
      #alb-Sub-area #video-cont>div aside{
        color: #fff;
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 10px;
      }
      
      #alb-Sub-area .video-grid-first{
        grid-column: 1/2;
        grid-row: 1/2;
      }

      .aud-title h3{
        font-size: 50px;
      }
      #alb-Sub-area .aud-title{
        top: 15vh;
      }
  }
@media screen and (max-width: 530px) {
    .mtit h2{
        font-size: 15px;
    }
    .TBham{
        position: absolute;
        top: 2.7vh;
        right: 5vw;
        width: 25px;
        cursor: pointer;
        z-index: 999999;
    }
    .TBham span:nth-child(2) {
        top: 10px;
    }
    .TBham span:nth-child(3) {
        top: 20px;
    }
    .TBlogo{
        width: 200px;
    }
    .langicon{
        top: 2.5vh;
        width: 30px;
    }
    .intTit h3 {
        position: relative;
        font-size: 35px;
        top: 13vh;
    }
    .intCont p{
        font-size: 12px;

    }
    #ats-area .ats-title h3{
        font-size: 50px;
    }

    .ats_swiper .swiper-slide{
        width: 150px;
    }
    .atit h2{
        font-size: 15px;
    }
    .alb-title {
        position: absolute;
        left: 5vw;
        top: 10vh;
      }
      .alb-title h3{
        position: relative;
        font-size: 40px;
        top: 18vh;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        left: 3vw;
      }
      .intSub-Tit h3{
        position: relative;
        font-size: 30px;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        color:#fff;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        white-space: nowrap;
      }
      #introSub-area .insSub-cont {
        font-size: 5px;
        top: 0;
        left: 0;
      }
      
  }

@media screen and (max-width: 310px) {
    .mtit h2{
        font-size: 12px;
    }
  }